<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]='visibility' [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.image}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]='visibility' [@expand]>
    <mat-list>
      <h1>Comments</h1>
      <mat-list-item *ngFor="let a_comment of dish.comments">
        <h1 matLine>{{a_comment.comment}}</h1>
        <p matLine>{{a_comment.rating}} Stars</p>
        <p matLine>-- {{a_comment.author}} {{a_comment.date | date}}</p>
      </mat-list-item>
      <div [hidden]="commentForm.invalid">
        <mat-list-item>
          <h1 matLine>{{ commentForm.value.comment }}</h1>
          <p matLine>{{ commentForm.value.rating }} Stars</p>
          <p matLine>-- {{ commentForm.value.author }} </p>
        </mat-list-item>
      </div>
    </mat-list>

    <form novalidate [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input matInput formControlName="author" placeholder="Name" type="text" required>
        <mat-error *ngIf="formErrors.author">
          {{ formErrors.author }}
        </mat-error>
      </mat-form-field>
      <mat-slider formControlName="rating" min="1" max="5" step="1" thumbLabel tickInterval="1"></mat-slider>
      <mat-form-field class="full-width">
        <textarea matInput formControlName="comment" rows="12" placeholder="Your Comment" type="text" required></textarea>
        <mat-error *ngIf="formErrors.comment">
          {{ formErrors.comment }}
        </mat-error>
      </mat-form-field>
      <button type="submit" mat-button class="background-primary text-floral-white"
        [disabled]="commentForm.invalid">Submit</button>
      </form>

  </div>

  <div [hidden]="dish || errMess"> <!-- Displays only until array is available -->
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait :)</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>