<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px">

  <mat-card *ngIf="dish" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <div [hidden]="dish || dishErrMess">
    <!-- Displays only until array is available -->
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait :)</h4>
  </div>

  <div fxFlex *ngIf="dishErrMess">
    <h2>Error</h2>
    <h4>{{dishErrMess}}</h4>
  </div>

  <mat-card *ngIf="promotion" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + promotion.image}}" alt={{promotion.name}}>
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <div [hidden]="promotion || promotionErrMess">
    <!-- Displays only until array is available -->
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait :)</h4>
  </div>

  <div fxFlex *ngIf="promotionErrMess">
    <h2>Error</h2>
    <h4>{{promotionErrMess}}</h4>
  </div>

  <mat-card *ngIf="leader" fxFlex [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{leader.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{BaseURL + leader.image}}" alt={{leader.name}}>
    <mat-card-content>
      <p>{{leader.designation}}</p>
      <p>{{leader.description}}</p>
    </mat-card-content>
  </mat-card>

  <div [hidden]="leader || leaderErrMess">
    <!-- Displays only until array is available -->
    <mat-spinner></mat-spinner>
    <h4>Loading... Please Wait :)</h4>
  </div>

  <div fxFlex *ngIf="leaderErrMess">
    <h2>Error</h2>
    <h4>{{leaderErrMess}}</h4>
  </div>


</div>